  <aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h3>IDT Laboratory</h3>
                <p></p>
            </div>
            <div class="col-lg-3 col-md-6">
              <h4>Address</h4>
              <h5>2015 Neil Ave, Columbus, OH 43210</h5>
              <p></p>
            </div>
            <div class="col-lg-3 col-md-6">
              <h4>Contact</h4>
              <h5>byna.1@osu.edu</h5>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>Link</h4>
                <h5>OSU CSE Department link</h5>
            </div>
        </div>
    </div>
  </aside>
