<ul>
<li style="font-size=10px;">
Runzhou Han, Mai Zheng, Suren Byna, Houjun Tang, Bin Dong, Dong Dai, Yong Chen, Dongkyun Kim, Joseph Hassoun, David Thorsley, and Matthew Wolf, "PROV-IO+: A Cross-Platform Provenance Framework for Scientific Data on HPC Systems", IEEE Transactions on Parallel and Distributed Systems (TPDS), 2024.
</li>
<li style="font-size=10px;">
Jean Luca Bez, Houjun Tang, Scot Breitenfeld, Huihuo Zheng, Wei-keng Liao, Kaiyuan Hou, Zanhua Huang, and Suren Byna, "h5bench: Exploring HDF5 Access Patterns Performance in Pre-Exascale Platforms", Concurrency and Computation: Practice and Experience (CCPE), 2024.
</li>
<li style="font-size=10px;">
Jean Luca Bez, Hammad Ather, Yankun Xia, and Suren Byna "Drilling Down I/O Bottlenecks with Cross-layer I/O Profile Exploration", IPDPS 2024.
</li>
<li style="font-size=10px;">
Neeraj Rajesh, Keith Bateman, Suren Byna, Jean Luca Bez, Anthony Kougkas, and Xian-He Sun, "TunIO: An AI-powered Framework for Optimizing HPC I/O", IPDPS 2024.
</li>
<li style="font-size=10px;">
Dong Kyu Sung, Yongseok Son, Alex Sim, John Wu, Suren Byna, Houjun Tang, Hyeonsang Eom, and Sunggon Kim, "A2FL: Autonomous and Adaptive File Layout in HPC through Real-time Access Pattern", IPDPS 2024.
</li>
<li style="font-size=10px;">
Wei Zhang, Houjun Tang, and Suren Byna, "IDIOMS: Index-powered Distributed Object-centric Metadata Search for Scientific Data Management", CCGrid 2024.
</li>
<li style="font-size=10px;">
Bin Dong, John Wu, and Suren Byna, "The Art of Sparsity: Mastering High-Dimensional Tensor Storage", ESSA 2024 in conjunction with IPDPS 2024.
</li>
</ul>
