<section class="bg-primary" id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Multiple funded positions opened!</h2>
                <hr class="light">
                <p class="text-faded">If interested in performing cutting-edge research and development in these areas, please send your CV and transcript to Prof. Byna by email.</p>
            </div>
        </div>
    </div>
</section>
