<TABLE border=2>
<TR>
<th style="text-align: center;">Authors</th>
<th style="text-align: center;">Title</th>
<th style="text-align: center;">Venue</th>
<th style="text-align: center;">Year</th>
<th style="text-align: center;">Link</th>
</TR>
<TR>
<td>Jingqing Mu, Jerome Soumagne, Suren Byna, Quincey Koziol, Houjun Tang, and Richard Warren</td>
<td>Interfacing HDF5 with A Scalable Object-centric Storage System on Hierarchical Storage</td>
<td>Journal of Concurrency and Computation: Practice and Experience</td>
<td>2020</td>
<td><a href="https://onlinelibrary.wiley.com/doi/10.1002/cpe.5715">Link</td>
</TR>
<TR>
<td>Houjun Tang, Suren Byna, Bin Dong, and Quincey Koziol</td>
<td>Parallel Query Service for Object-centric Data Management Systems</td>
<td>The 6th IEEE International Workshop on High-Performance Big Data and Cloud Computing (HPBDC) 2020, in conjunction with IPDPS 2020</td>
<td>2020</td>
<td><a href="https://sdm.lbl.gov/pdc/pubs/2020-HPBDC-IPDPS-Parallel_Query_PDC.pdf">Link</td>
</TR>
</TABLE>
