<section id="people">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">People</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-12" style="padding-bottom: 20px;">
            <h3>Faculty</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card" style="min-height: 100;
                    max-width: 25rem;
                    margin: 5%;"">
                        <img src="../img/team-members/Suren-Byna-square.jpg" class="card-img-top" alt="Suren Byna" 
                              style="border-radius:50% ;
                              width: 100px;
                              height: 100px;"/>
                        <div class="card-body">
                          <h4 class="card-title"><strong>Suren Byna</strong></h4>
                          <p class="card-text">Professor</p>
                        </div>
                        <div class="card-body">
                          <a href="https://sbyna.github.io" class="card-link">Homepage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-12" style="padding-bottom: 20px;">
            <h3>Students</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card" style="min-height: 100;
                    max-width: 25rem;
                    margin: 5%;"">
                        <img src="../img/team-members/Kaveen-Hiniduma.jpeg" class="card-img-top" alt="Kaveen Hiniduma" 
                              style="border-radius:50% ;
                              width: 100px;
                              height: 100px;"/>
                        <div class="card-body">
                          <h4 class="card-title"><strong>Kaveen Hiniduma</strong></h4>
                          <p class="card-text">Ph.D Student</p>
                        </div>
                        <div class="card-body">
                          <a href="#" class="card-link">Git</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card" style="min-height: 100;
                    max-width: 25rem;
                    margin: 5%;"">
                        <img src="../img/team-members/Hyunju-Oh.jpg" class="card-img-top" alt="Hyunju Oh" 
                              style="border-radius:50% ;
                              width: 100px;
                              height: 100px;"/>
                        <div class="card-body">
                          <h4 class="card-title"><strong>Hyunju Oh</strong></h4>
                          <p class="card-text">Ph.D Student</p>
                        </div>
                        <div class="card-body">
                          <a href="#" class="card-link">Git</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card" style="min-height: 100;
                    max-width: 25rem;
                    margin: 5%;"">
                        <img src="../img/team-members/Suben-Kumer-Saha.jpeg" class="card-img-top" alt="Suben Kumar Saha" 
                              style="border-radius:50% ;
                              width: 100px;
                              height: 100px;"/>
                        <div class="card-body">
                          <h4 class="card-title"><strong>Suben Kumar Saha</strong></h4>
                          <p class="card-text">Ph.D Student</p>
                        </div>
                        <div class="card-body">
                          <a href="#" class="card-link">Git</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card" style="min-height: 100;
                    max-width: 25rem;
                    margin: 5%;"">
                        <img src="../img/team-members/Arta-Salimiparsa.jpg" class="card-img-top" alt="Arta Salimiparsa" 
                              style="border-radius:50% ;
                              width: 100px;
                              height: 100px;"/>
                        <div class="card-body">
                          <h4 class="card-title"><strong>Arta Salimiparsa</strong></h4>
                          <p class="card-text">Ph.D Student</p>
                        </div>
                        <div class="card-body">
                          <a href="https://asparsa.github.io/" class="card-link">Homepage</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card" style="min-height: 100;
                    max-width: 25rem;
                    margin: 5%;"">
                        <img src="../img/team-members/pexels-pok-rie-982263.jpg" class="card-img-top" alt="Aparajit Talukdar" 
                              style="border-radius:50% ;
                              width: 100px;
                              height: 100px;"/>
                        <div class="card-body">
                          <h4 class="card-title"><strong>Aparajit Talukdar</strong></h4>
                          <p class="card-text">Ph.D Student</p>
                        </div>
                        <div class="card-body">
                          <a href="#" class="card-link">Git</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="col-lg-12" style="padding-bottom: 20px;">
            <h3>Collaborators</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card" style="min-height: 100;
                    max-width: 25rem;
                    margin: 5%;"">
                        <img src="../img/team-members/Jean-Luca-Bez-LBL.jpg" class="card-img-top" alt="Jean Luca Bez" 
                              style="border-radius:50% ;
                              width: 100px;
                              height: 100px;"/>
                        <div class="card-body">
                          <h4 class="card-title"><strong>Jean Luca Bez</strong></h4>
                          <p class="card-text">Research Scientist, LBNL</p>
                        </div>
                        <div class="card-body">
                          <a href="#" class="card-link">Git</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card" style="min-height: 100;
                    max-width: 25rem;
                    margin: 5%;"">
                        <img src="../img/team-members/Houjun-Tang-LBL.JPG" class="card-img-top" alt="Houjun Tang" 
                              style="border-radius:50% ;
                              width: 100px;
                              height: 100px;"/>
                        <div class="card-body">
                          <h4 class="card-title"><strong>Houjun Tang</strong></h4>
                          <p class="card-text">Research Scientist, LBNL</p>
                        </div>
                        <div class="card-body">
                          <a href="#" class="card-link">Git</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card" style="min-height: 100;
                    max-width: 25rem;
                    margin: 5%;"">
                        <img src="../img/team-members/Wei-Zhang-LBL.JPG" class="card-img-top" alt="Wei Zhang" 
                              style="border-radius:50% ;
                              width: 100px;
                              height: 100px;"/>
                        <div class="card-body">
                          <h4 class="card-title"><strong>Wei Zhang</strong></h4>
                          <p class="card-text">Researcher, LBNL</p>
                        </div>
                        <div class="card-body">
                          <a href="#" class="card-link">Git</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
