<section id="research">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="padding-bottom: 20px;">
                <h2 class="section-heading">Research</h2>
                <hr class="primary">
                <p> IDT lab is interested in the areas of Data and metadata management, Storage and I/O, File systems, and Energy optimization in the HPC, Cloud, and Edge computing environments.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-evenly ">
            <div class="col-md-3 text-center">
                <div class="card mx-auto" style="width: 100%;">
                    <img class="card-img-top" src="../img/pexels-panumas-nikhomkhai-17489153.jpg" alt="Card image cap" 
                         style="width: 100%;
                                height: 200px;
                                border:solid 1px #000000" />
                    <div class="card-body">
                      <h3>Proactive Data Containers</h3>
                      <p class="card-text">Proactive Data Containers explanation</p>
                      <a href="#PDC" class="btn btn-primary btn-xl page-scroll">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card mx-auto" style="width: 100%;">
                    <img class="card-img-top" src="../img/pexels-panumas-nikhomkhai-17489153.jpg" alt="Card image cap" 
                         style="width: 100%;
                         height: 200px;
                                border:solid 1px #000000" />
                    <div class="card-body">
                      <h3>Proactive Data Containers</h3>
                      <p class="card-text">Proactive Data Containers explanation</p>
                      <a href="#PDC" class="btn btn-primary btn-xl page-scroll">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card mx-auto" style="width: 100%;">
                    <img class="card-img-top" src="../img/pexels-panumas-nikhomkhai-17489153.jpg" alt="Card image cap" 
                         style="width: 100%;
                         height: 200px;
                                border:solid 1px #000000" />
                    <div class="card-body">
                      <h3>Proactive Data Containers</h3>
                      <p class="card-text">Proactive Data Containers explanation</p>
                      <a href="#PDC" class="btn btn-primary btn-xl page-scroll">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="card mx-auto" style="width: 100%;">
                    <img class="card-img-top" src="../img/pexels-panumas-nikhomkhai-17489153.jpg" alt="Card image cap" 
                         style="width: 100%;
                         height: 200px;
                                border:solid 1px #000000" />
                    <div class="card-body">
                      <h3>Proactive Data Containers</h3>
                      <p class="card-text">Proactive Data Containers explanation</p>
                      <a href="#PDC" class="btn btn-primary btn-xl page-scroll">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>