<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-subpage {
  background-color: white;
  border-color: rgba(16, 42, 67, 0.5);
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
</style>
</head>

<body>
<nav class="navbar navbar-subpage navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="index"><strong>IDT LAB</strong></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="index#about"><strong>About</strong></a>
                </li>
                <li>
                    <a class="page-scroll" href="index#research"><strong>Research</strong></a>
                </li>
                <li>
                    <a class="page-scroll" href="index#publications"><strong>Publications</strong></a>
                </li>
                <li>
                    <a class="page-scroll" href="index#people"><strong>People</strong></a>
                </li>
                <li>
                    <a class="page-scroll" href="index#contact"><strong>Contact</strong></a>
                </li>
            </ul>
        </div>
    </div>
    <!--<div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="index"><strong>IDT LAB</strong></a>
        </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="page-scroll" href="index">Home</a>
            </li>
            <li>
                <a class="page-scroll" href="#overview">Overview</a>
            </li>
            <li>
                <a class="page-scroll" href="#publications">Publications</a>
            </li>
            <li>
                <a class="page-scroll" href="#team">Team</a>
            </li>
            <li>
                <a class="page-scroll" href="#fundings">fundings</a>
            </li>
        </ul>
    </div>
</div>-->
</nav> 