<!DOCTYPE html>
<html lang="en">
<style>
    td, tr{
        border: 1px solid black;
        text-align: center;
        width: 33%;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }
</style>
{% include head.html %}

<body>
  {% include subpage_nav.html %}
  <section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Proactive Data Containers</h1>
                <hr class="light">
                <p class="text-faded"></p>
            </div>
        </div>
    </div>
  </section>
  <section>
    <div id="overview" class="container">
        <div class="col-lg-12" >
            <h2 style="margin-bottom: 20px;">Overview</h2>
        </div>
    </div>
    <div id="publications" class="container">
        <div class="col-lg-12" >
            <h2 style="margin-bottom: 20px;">Publications</h2>
            
        </div>
    </div>
    <div id="team" class="container">
        <div class="col-lg-12" >
            <h2 style="margin-bottom: 20px;">Team</h2>
        </div>
    </div>
    <div id="fundings" class="container">
        <div class="col-lg-12" >
            <h2 style="margin-bottom: 20px;">Fundings</h2>
        </div>
    </div>
  </section>
</body>

</html>