.innerContainer {
  background-color: var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);
  height: 100%;
}

.image {
  border-radius: 99rem;
  height: 7.5rem;
  object-fit: cover;
  object-position: top;
  width: 7.5rem;
}

.name {
  display: block;
}

.researchInterests {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.nowLine {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  color: var(--ifm-color-emphasis-700);
}

.nowLabel {
  font-weight: 600;
  color: var(--ifm-color-emphasis-600);
}

.nowText {
  font-weight: 400;
}


